.pageHeader
  position: relative
  border-top: 10px solid $black
  .container
    box-sizing: border-box
    padding: 5px

.headerLink
  padding-top: .45em
  &__btn
    display: inline-block
    padding: 10px


.logo
  margin: 0

.headerTxt
  font-size: 11px
  p
    margin: 0


