//- 各ページテキストデータ

- var sitename = 'anti base';

//- GA tag
-var gaTag = "UA-XXXXXXXX-1";

//- 各ページ毎に設定する変数
block pageVarialbes
  -var pageTitle = "" + "|" + sitename;
  -var pageDesc = "";
  -var bodyclass = "";

block path
  -var toRootPath = '/';

//- directories
-var assets = toRootPath + "assets/";
-var img = assets + 'img/';
-var css = assets + 'css/';
-var js = assets + 'js/';
-var lib = assets + 'libs/';



