doctype html
html(lang="ja")
	head
		meta(charset='UTF-8')
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		title kindle search
		meta(name="description",content="kindle search")
		meta(name="keywords",content="kindle,ebook,search,app")
		link(rel="stylesheet",href="/assets/css/style.css")

	body
		.page
			.pageHeader#pageHeader
				.container
					.box
						h1 Amazon Kindle search
						p powered by React.js


			.pageContent
				block content
					.container
						.row
							.main.col9.inner
								block main
									h1 page title
									p html boilerplate.

							.sub.col3.inner
								block sub
			.pageFooter
				.goToTop
					a.goToTop__link(href="#pageHeader")
						i.fa.fa-hand-o-up.fa-4x

		script(src="/assets/js/bundle.js")

